.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.75);
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0, 2px, 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
    text-align: right;
}

button {
    padding: 6px 12px;
    background-color: #7677B7;
    border: 2px solid #7677B7;
    color: #ffffff;
    border-radius: 4px;
}

button:hover {
    background-color: #41439C;
    border-color: #41439C;
    transition: background-color 0.3s, border-color 0.3s;
}

button:focus {
    outline: none;
    background-color: #303293;
    border-color: #303293;
    transition: background-color 0.3s, border-color 0.3s;
}