<!--Set dynamic table-->
<table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Identification Number</th>
      <th>Contact Number</th>
    </tr>
    
      <tr (click)="onContactDetail()">
        <td style="display: none;">1</td>
        <td>Name d.o.o.</td>
        <td>Poljička cesta 24</td>
        <td>Split</td>
        <td>Hrvatska</td>
        <td>012335645874</td>
        <td>098 9356 541</td>
      </tr>
      <tr (click)="onContactDetail()">
        <td style="display: none;">1</td>
        <td>Name d.o.o.</td>
        <td>Poljička cesta 24</td>
        <td>Split</td>
        <td>Hrvatska</td>
        <td>012335645874</td>
        <td>098 9356 541</td>
      </tr>
    
</table>
<br><!--
<div class="pagination-container">
    <pagination-controls class="custom-pagination" (pageChange)="p = $event"></pagination-controls>
</div>-->
